<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ellekay.lucie.fashionhouse" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:name="android.support.multidex.MultiDexApplication">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".Appintro"
            android:theme="@style/AppTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Home"
            android:theme="@style/AppTheme" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".Checkout"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Gotocart"
            android:label="@string/title_activity_gotocart"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".help"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".TabFragment1"
            android:label="@string/title_activity_tabfragment1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TabFragment2"
            android:label="@string/title_activity_tabfragment2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TabFragment3"
            android:label="@string/title_activity_tabfragment3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MakeUp"
            android:label="@string/title_activity_make_up"
            android:theme="@style/AppTheme" >
        </activity>




        <activity android:name=".Category" >
        </activity>
        <activity android:name=".SignUp">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

    </application>

</manifest>
